<h1>NudgeFeed API Test</h1>
<ul>
	<li><%= link_to("Login with Facebook", "auth/facebook") %></li>
	<li><%= link_to("Login with Twitter", "auth/twitter") %></li>
	<li><%= link_to("Login with Linkedin", "auth/linkedin") %></li>
</ul>